.env
.github/**
.vscode/**
.vscode-test/**
test/**
hack/**
.eslintrc.json
eslint.config.js
.gitignore
.yamlfmt
.nvmrc
.npmrc
.markdownlint.yaml
.prettierignore
.prettierrc
renovate.json
tsconfig.json
**/*.map
